
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #192231;
  color: white;
}

section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  padding: 100px 20vw;
}

.night {
  background: #192231;
}

.sunset {
  background: #985E5D;
}

.cloud {
  background: #98878F;
}

.stormy {
  background: #494E6B;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 164px;
  transform: rotateY(180deg);
}

.wave .shape-fill {
  fill: #98878F;
}

.wv {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wv svg {
  position: relative;
  display: block;
  width: calc(112% + 1.3px);
  height: 112px;
}

.wv .shape-fill {
  fill: #192231;
}

.scrawler {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 3s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.box {
  background: #98878F;
  min-height: 600px;
  padding: 30vh 20vw;
  margin: 10vh 10vw;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  align-items: center;
}

.img2 {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 20px auto;
}

.image_socials {
  width: 100px;
  max-width: 100px;
}

.image_project1 {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 20px auto;
}

.imageme {
  width: 100px;
}

@media only screen and (max-width: 768px){


  .box {
    background: #98878F;
    min-height: 600px;
    padding: 30vh 20vw;
    margin: 10vh 10vw;
  }

  .social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    align-items: center;
  }

  .image_socials {
    width: 10vw;
    max-width: 100px;
  }


  .imageme {
    max-width: 60px;
    width: auto;
    min-width: 30px;
    padding-bottom: 20px auto;
  }

  .image_project {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 10px auto;
  }
}